<div class="container">
  <form #userForm="ngForm">
    <div class="form-group">
      <label for="name">
        Name
      </label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Pick a name"
        required
        [(ngModel)]="model.name"
        name="name"
      >
    </div>
    <div class="form-group">
        <label for="password">
          Password
        </label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Create a password"
          required
          [(ngModel)]="model.password"
          name="password"
        />
    </div>
    <p>
      Already have an account? <a routerLink="/login">Log in</a>
    </p>
    <button 
      (click)="onSubmit(model)"
      type="submit" 
      class="btn"
    >
      Sign up
    </button>
  </form>
  <p *ngIf="errorMessage">
    {{errorMessage}}
  </p>
</div>